extends layout 

block content 
  section.content.margin-top-d
    section.item_detail.rounded-5.pad-d
      .img 
        img(src=weapon.img style="width: 90%")
      .info
        h3=weapon.name
        .stars.rounded-5
          - for(let i = 0;i < weapon.rarity; i++){
            svg.svelte-1mzwbk9(viewbox='0 0 24 24' style=' width:1.5rem; height:1.5rem; fill:currentColor;')
              path(d='M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z')
          -}
        h4 Weapon :
        p= weapon_type.name 
        h4 Base attack:
        p #{weapon.base_attack}
        h4 Second stat: 
        p= weapon.second_stat
        h4 Passive :
        p= weapon.passive
        .info_controls
          a(href='') Update
          a(href='') Delete
